._ {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .backButtonBox {
//   button {
//     background-color: transparent;
//     svg {
//       width: 30px;
//       height: 30px;
//     }
//   }
// }
