$media-offset: 3px;

// desktop
$media-dxl: 3840px - $media-offset;
$media-dl: 2560px - $media-offset;
$media-d: 1920px - $media-offset;
$media-ds: 1600px - $media-offset;
$media-dxs: 1366px - $media-offset;

// tablet
$media-tl: 1280px - $media-offset;
$media-t: 1024px - $media-offset;
$media-ts: 960px - $media-offset;

// mobile
$media-mxl: 782px - $media-offset;
$media-ml: 600px - $media-offset;
$media-m: 480px - $media-offset;
$media-ms: 360px - $media-offset;

// simple
$media-desktop: $media-d;
$media-tablet: $media-tl;
$media-mobile: $media-mxl;

// height breakpoints
$media-h: 1024px - $media-offset;
