// body.theme-dark {}

body {
  --color-white: #fff;
  --color-black: #212529;
  --color-lightgray: #e9e9e9;
  --color-midgray: #737373;
  --color-darkgray: #444;

  --color-primary: #ff735c;
  --color-primary-hover: #ffb4a8;
  --color-primary-focus: #ffb4a877;
  --color-secondary: #0d6efd;
  --color-secondary-hover: #4f9dec;
  --color-secondary-focus: #4f9dec77;

  --color-background: #f8f9fa;

  --color-text: var(--color-black);
  --color-text-light: var(--color-background);
  --color-text-inactive: var(--color-midgray);

  --color-borders: #d2d2d2; // red; // change to color-border
  // --color-border: #d2d2d2;
  // --color-border-inactive: var(--color-lightgray);

  --color-danger: #dc3545;
  --color-success: #198754;
}

body.var5 {
  --color-build-variant: #343f48;
}
body.var4 {
  --color-build-variant: #198754;
}
body.var3 {
  --color-build-variant: #ff8c52;
}
body.var2 {
  --color-build-variant: #ff3e6c;
}
body.var1 {
  --color-build-variant: #0d6efd;
}

// color-prim: #fff;
// color-second: #161428;
// color-grayscale-01: #000;
// color-grayscale-02: #343F48;
// color-grayscale-03: #EDEDED;
// color-grayscale-04: #F5F5F5;
// color-accent-01: #c6dadd;
// color-accent-02: #63f1ca;
// color-accent-03: #FED45C;
// color-accent-04: #FF8C52;
// color-accent-05: #FF3E6C;
// color-accent-06: #6E55FF;
// color-hover2: #5906EE;
// color-focus2: blue;
// color-error2: #ff0000;
// color-success2: #099205;
// color-shadow2: #333;
// другие названия чтобы не тупил colorize
