body {
  --color-white: #fff;
  --color-black: #212529;
  --color-lightgray: #e9e9e9;
  --color-midgray: #737373;
  --color-darkgray: #444;
  --color-primary: #86bcf2;
  --color-background: var(--tg-theme-bg-color);
  --color-text: var(--color-black);
  --color-text-adaptive: var(--tg-theme-text-color);
}
