html {
  font-size: 16px;
}

body {
  min-width: calc(315px - (100vw - 100%));
  overflow-x: hidden;
  background-color: var(--color-background);
  font-family: var(--font-main);
  font-size: inherit;
  line-height: 1.2;
  color: var(--color-text);
  fill: var(--color-text);
}
