@import "variables";

html {
  font-size: 16px;

  // scrollbar-width: thin; // = 8px
  // scrollbar-color: coral darkred; // thumb track
}

body {
  --container-width: 1240px;
  // --container-padding: 15px;
  --container-padding-horizontal: 18px;
  --container-padding-vertical: 24px;
  @media (max-width: ($media-mobile)) {
    --container-width: 480px;
    // --container-padding: 10px;
    --container-padding-horizontal: 10px;
    --container-padding-vertical: 14px;
  }

  // Required for script manipulation:
  --timer-modal: #{$timer-modal};
  --header-height: 0px;
}

body {
  min-width: calc(315px - (100vw - 100%));
  overflow-x: hidden;
  background-color: var(--tg-theme-bg-color);
  font-family: var(--font-main);
  font-size: inherit;
  line-height: 1.2;
  color: var(--tg-theme-text-color);
  fill: var(--tg-theme-text-color);
}

// #root {
// height: 100%;
// margin: 0 auto;
// max-width: $media-d + $media-offset + 10px;
// }

h1,
h2,
h3,
h4 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 40px;
  @media (max-width: ($media-mobile)) {
    font-size: 28px;
  }
}
h2 {
  font-size: 32px;
  @media (max-width: ($media-mobile)) {
    font-size: 24px;
  }
}
h3 {
  font-size: 28px;
  @media (max-width: ($media-mobile)) {
    font-size: 20px;
  }
}
h4 {
  font-size: 24px;
}
