@mixin text-nowrap() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin text-max-lines($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}
@mixin custom-scrollbar($thumb: var(--color-midgray), $track: transparent) {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: $thumb;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $track;
    border-radius: 5px;
    margin: 5px 0;
  }
  @-moz-document url-prefix() {
    scrollbar-width: thin; // = 8px
    scrollbar-color: $thumb $track; // thumb track
  }
}
@mixin focus($color) {
  box-shadow: 0 0 0 5px $color;
}
